<section class="py-5 2xl:py-40 bg-gray-100">

  <div class=" container px-4 mx-auto">
    <div class="text-center mb-5">

      <h2 class="mt-10 text-3xl font-bold font-heading ">STUDENT | FACULTY | VISITOR</h2>
      <h2 class="mb-5 text-3xl font-bold font-heading ">Contact Tracing (EARIST)</h2>
      <span class=" text-gray-600 py-5 font-bold">Welcome to EARIST! Kindly fill out the form and help us reduce the risk of COVID-19 exposure among our employees, students and visitors.</span>
      </div>
    <div class="max-w-4xl mx-auto">
      <div class="flex flex-wrap -mx-4 mb-20">
        <div class="w-full px-4 mb-4 lg:mb-0">
          <div class="bg-white shadow-lg pt-5 rounded-b-lg">
            <%= image_tag("undraw.jpg", :class=>"h-64 mx-auto mt-5") %>
            <div class="px-14 py-8">
              <div class="mb-6 py-px bg-gray-500"></div>
              <h3 class="mb-8 lg:mb-4 text-xl font-bold">Stay at home, stay healthy, and stay safe!</h3>
              <div class="md:text-right">
              <a class="inline-block bg-red-900 py-3 px-5 text-white mb-4 font-bold border border-gray-300 hover:border-gray-200 rounded-lg mr-3" href="/visitors/new">Visitor</a>
              <a class="inline-block bg-red-900 py-3 px-5 text-white mb-4 font-bold border border-gray-300 hover:border-gray-200 rounded-lg mr-3" href="<%=new_user_session_path%>">Daily User</a>

              </div>
            </div>
          </div>
        </div>
        
          
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>