<article class="text-lg px-6 py-6 mt-10 text-gray-600 mx-auto max-w-2xl">
<h2 class="text-xl font-semibold">STUDENT/FACULTY/VISITOR CONTACT TRACING (EARIST)</h2>
<p class="mt-6">
Welcome to EARIST! Kindly fill out the form and help us reduce the risk of COVID-19 exposure among our employees, students and visitors.
</p>  
<p class="mt-6">
Stay at home, stay healthy, and stay safe!
</p>
<div class="max-w-md mt-10 mx-auto flex justify-center">
<a class="inline-block bg-red-900 py-3 px-5 text-white mb-4 font-bold border border-gray-300 hover:border-gray-200 rounded-lg mr-3" href="<%=new_user_session_path%>">Daily User</a>
<a class="inline-block py-3 px-5 text-gray-700 mb-4 font-bold border border-gray-300 hover:border-gray-200 rounded-lg" href="visitors">Visitor</a>
</div>
</article>


